body {
  background-color: cadetblue;
}
.profileimage h1 {
  color: white;
  margin-top: 20px;
}
.profileimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

.profileimage {
  width: 200px;
}
.profileimage h2 {
  color: aliceblue;
}

.profileimage h4 {
  color: aliceblue;
  transform: translate(-10px);
}

.Biodata {
  background-color: white;
}
